header{
    width: 97%;
    height: 100px;
    background-color: #0c2461;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

header a{
    color: white;
    font-size: 18px;
}

head a + a{
    margin-left: 10px;
}